body::-webkit-scrollbar{
    width: 3px;
}

.insta {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.icon {
    width: auto;
    height: 60px;
    padding: 0 20px;
    align-items: center;
}

.insta header, .insta footer {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 94px;
    min-height: 94px;
}

.insta header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px 20px 0 20px;
}

.insta footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top:1px solid rgba(0, 0, 0, 0.4);
}

.image-post {
    width: 100%;
    align-items: center;
    margin: 15px 0;
}

#image-profile-end {
    border-radius: 50%;
}

.story {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    margin-top: 110px;
    border-bottom:1px solid rgba(0, 0, 0, 0.4);
}

.story-image {
   text-align: center;
   border-radius: 50%;
   
}



