.insta {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #fafafa;
}

.insta header, .insta footer {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 53px;
    min-height: 53px;
}

.insta header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 20px;
    border-bottom:1px solid rgba(0, 0, 0, 0.4);
}

.insta footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top:1px solid rgba(0, 0, 0, 0.4);
}

#header-profile, .story-image {
    border-radius: 50%;
}